<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<div id="messages">
	<% @messages.each do |message| %>
		<%= render 'message', message: message %>
	<% end -%>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<script>
App.room1 = App.cable.subscriptions.create({
  channel: 'RoomChannel',
  room: <%= @room.id %>
}, {
  connected: function() {},
  disconnected: function() {},
  received: function(data) {
    return $('#messages').append(data['message']);
  },
  speak: function(message, room_id) {
    return this.perform('speak', {
      message: message,
      room_id: room_id
    });
  }
});

$(document).on('keypress', '[data-behavior~=room_speaker]', function(event) {
  if (event.keyCode === 13) {
    App.room1.speak(event.target.value, <%= @room.id %>);
    event.target.value = '';
    return event.preventDefault();
  }
});
</script>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>